# IAR build output
EWARM/Debug/
EWARM/Release/
EWARM/*.dep
EWARM/*.pbd
EWARM/*.dni
EWARM/STM32H747I-DISCO_CM7/Obj/
EWARM/STM32H747I-DISCO_CM7/Exe/
EWARM/STM32H747I-DISCO_CM7/List/
EWARM/STM32H747I-DISCO_CM7/BrowseInfo/
EWARM/STM32H747I-DISCO_CM7/.ninja_deps
EWARM/STM32H747I-DISCO_CM7/.ninja_log
EWARM/STM32H747I-DISCO_CM7/C-STAT/
EWARM/STM32H747I-DISCO_CM4/

# ESP-IDF build
NORA_BLE/nora_wifi_ble_translate/build/
NORA_BLE/nora_ble_bridge/build/

# Python
__pycache__/
*.pyc
*.pyo

# OS
.DS_Store
Thumbs.db
*.elf
